@font-face{
    font-family: Poppins-Light;
    src: url(../FONTS/Poppins/Poppins-Medium.ttf);
}

@font-face{
    font-family: Poppins-Bold;
    src: url(../FONTS/Poppins/Poppins-Bold.ttf);
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins-Light';
    background-image: url(../képek/hatterkep7.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    
}
.nyelv{
    border-radius: 15px;
    font-size: 0.5cm;
    color: white;
    padding: auto;
    float: right;
    text-decoration: none;
}

option{
    border-radius: 15px;
    color: white;
    background-color: rgba(14, 14, 14, 0.13);
}
select{
    color: white;
    border-radius: 15px;
    background-color: rgba(14, 14, 14, 0.096);
}

.gombok{
    
    float: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    background-color: rgba(0, 0, 0, 0.075);
    transition: all 1s;
    border-radius: 70px;
    padding: auto;
    text-align: left;
}

.gombok a {
    font-size: 0.5cm;
    color: white;
    padding-right: 0.5cm;
    transition: all 0.5s;
    padding-left: 0.2cm;
    padding: auto;
    text-decoration: none;
    transition: all 0.4s;
}

.gombok a:hover{
    font-size: 0.7cm;
    color: white;
    transition: all 0.3s;
    padding: auto;
    border-radius: 15px;
    color: rgb(255, 0, 85);
    transition: all 0.4s;
}
a{
    text-decoration: none;
}

@media screen and (max-width: 500px){
body{

        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}
a{
    font-size: 0.5cm;
}

.gombok{
    
    float: auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    transition: all 1s;
    border-radius: 70px;
    padding: auto;
    text-align: left;
}

.gombok a {
    font-size: 0.28cm;
    color: white;
    padding-right: 0.2cm;
    transition: all 0.5s;
    padding-left: 0.00001cm;
    padding: auto;
    text-decoration: none;
}

.gombok a:hover{
    font-size: 0.6cm;
    color: white;
    transition: all 0.3s;
    padding: auto;
    border-radius: 15px;
    text-decoration: underline;
}

.games{
    display: grid;
    float: center;
    text-align: center;
    padding-left: 1cm;
    padding: 1cm;
    border-radius: 25px;
    
    height: 200px;
    width: 200px;
}

.games a img:hover{
    padding: 0.2cm;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s;
    height: 200px;
    width: 200px;
    
}

.games a img:hover:after{
    padding: 0.2cm;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s;
    height: 200px;
    width: 200px;
}
.games a img:before:hover{
    padding: 0.2cm;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s;
    height: 200px;
    width: 200px;
}
.games a {

transition: all 0.8s;
height: 200px;
width: 200px;
}
.games a img{
border-radius: 25px;
transition: all 0.2s;
height: 200px;
width: 200px;
}

}
.fejlesztesalatt {
    color: rgb(209, 21, 21);
    font-size: 0.5cm;
    padding: auto;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.384);
    border-radius: 15px;
    float: center;
    width: 200px;
}

.leiras {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.164);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    margin: auto;
    margin-top: 1cm;
    float: auto;
    padding: auto;
    text-align: center;
}

.leiras h2{
    color: white;
    border-radius: 6px;
    float: auto;
    padding: auto;
}

.leiras h3{
    color: rgb(255, 175, 2);
    border-radius: 6px;
    float: auto;
    padding: auto;
}

.udvozollek {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.056);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.384);
    margin: auto;
    margin-top: 1cm;
    float: auto;
    text-align: auto;
    padding: auto;
    text-align: center;
    color: white;
    font-size: 0.5cm;
}

.sarokverziokijelzo{
    text-align: center;
    float: center;
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    padding: auto;
    width: 100px;
    margin-bottom: auto;
    font-size: 0.3cm;
    border-radius: 15px;
}

.egyebweboldalak{
    color: white;
    transition: all 1s;
    float: center;
    text-align: center;
    padding: auto;
}

.egyebweboldalak a {
    font-size: 0.4cm;
    color: white;
    transition: all 0.5s;
    padding: auto;
    text-decoration: none;
}

.egyebweboldalak a:hover {
    font-size: 0.5cm;
    color: rgb(255, 0, 85);
    transition: all 0.3s;
    padding: auto;
    border-radius: 15px; 
}

.games{
    float: center;
    text-align: center;
    padding-left: 1cm;
    border-radius: 25px;
   
}

.games a img:hover{
    padding: 0.2cm;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s;
    
}

.games a img:hover:after{
    padding: 0.2cm;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s;
}
.games a img:before:hover{
    padding: 0.2cm;
    background-color: rgb(0, 0, 0);
    transition: all 0.2s;
}

.games a {

transition: all 0.8s;
}
.games a img{
border-radius: 25px;
transition: all 0.2s;
image-resolution: 100%;
}

.red_text{
    color: red;
}

.pythontext{
    color: white;
}

.nepszeru{
    float: center;
    text-align: center;
    padding-left: 1cm;
    border-radius: 25px;
   
}

.unreal_engine_Jatek{
    float: center;
    text-align: center;
    padding-left: 1cm;
    border-radius: 25px;
   
}

.unreal_engine_Jatek a img:hover{
    padding: 0.2cm;
    background-color: #ff0055;
    transition: all 0.2s;
    
}

.unreal_engine_Jatek a img:hover{
    padding: 0.2cm;
    background-color: #ff0055;
    transition: all 0.2s;
    
}

.unreal_engine_Jatek a img:hover:after{
    padding: 0.2cm;
    background-color: #ff0055;
    transition: all 0.2s;
}
.unreal_engine_Jatek a img:before:hover{
    padding: 0.2cm;
    background-color: #ff0055;
    transition: all 0.2s;
}

.unreal_engine_Jatek a {

    transition: all 0.8s;
}

.unreal_engine_Jatek a img{
    border-radius: 25px;
    transition: all 0.2s;
    image-resolution: 100%;
}



.nepszeru a img:hover{
    padding: 0.2cm;
    background-color: rgb(0, 119, 255);
    transition: all 0.2s;
    
}

.nepszeru a img:hover:after{
    padding: 0.2cm;
    background-color: rgb(0, 119, 255);
    transition: all 0.2s;
}
.nepszeru a img:before:hover{
    padding: 0.2cm;
    background-color: rgb(0, 119, 255);
    transition: all 0.2s;
}

.nepszeru a {

    transition: all 0.8s;
}

.nepszeru a img{
    border-radius: 25px;
    transition: all 0.2s;
    image-resolution: 100%;
}

.nepszeru_text{
  background-color: rgba(0, 0, 0, 0.493);
  float: center;
  text-align: center;
  margin-left: 18cm;
  margin-right: 18cm;
  color: white;
  border-radius: 15px;
}

.unrael_engine_jatek_text{
    background-color: rgba(0, 0, 0, 0.493);
    float: center;
    text-align: center;
    margin-left: 18cm;
    margin-right: 18cm;
    color: white;
    border-radius: 15px;
}

a{
    display: inline-block;
    position: relative;
    color: #fff
}

a::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff0055;
    transition: transform .25s ease-out
}
a:hover{
  color: white;
  transform: scale(1, 1);
  transition: transform 0.3s ease;
}

a:hover::after{
    transform: scaleX(1)
}
