/* Alap stílusok */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
  }
  
  header h1 {
    font-size: 30px;
    font-weight: 700;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    text-align: right;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    font-size: 16px;
    transition: all 0.4s;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    background-color: #555;
    transition: all 0.4s;
  }
  
  section {
    padding: 20px;
  }
  
  section h2 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  
  .product {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
  }
  
  .product img {
    max-width: 100%;
    margin-bottom: 15px;
    transition: transform 0.3s;
  }
  
  .product:hover img {
    transform: scale(1.1);
  }
  
  .product h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  .product p {
    color: #777;
    margin-bottom: 15px;
  }
  
  .price {
    font-size: 18px;
    margin-bottom: 15px;
  }
  
  .currency {
    font-weight: bold;
  }
  
  .add-to-cart-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .add-to-cart-btn:hover {
    background-color: #0056b3;
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  #custom-script-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  #custom-script-btn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
  
  #custom-script-btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.3);
  }
  
  