     /* Centrálás */
     html, body {
        height: 100%;
        margin: 0;
      }

      /* Háttér */
      body {
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      /* Szöveg formázása */
      h1 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
      }

      li {
        font-size: 16px;
        margin: 5px 0;
      }

      /* Betöltőcsík */
      #loader-wrapper {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background-color: #fff;
      }

      #loader {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      #loader .bar {
        width: 0;
        height: 6px;
        background-color: #0099ff;
        animation: progress-bar 3s ease-out;
      }

      @keyframes progress-bar {
        0% { width: 0; }
        25% { width: 25%; }
        50% { width: 50%; }
        75% { width: 75%; }
        100% { width: 100%; }
      }